<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
<div class="logo">
    <a href="/home" class="simple-text logo-mini">
        <div class="logo-image-small">
            <img src="../assets/img/app-logo.png">
        </div>
    </a>
    <a href="/home" class="simple-text logo-normal">
        Banco Angelotti
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li id="home" class="active">
            <a href="/home">
                <i class="nc-icon nc-chart-pie-36"></i>
                <p>Posição Geral</p>
            </a>
        </li>
        <li id="cliente">
            <a href="/cliente">
                <i class="nc-icon nc-single-02"></i>
                <p>Clientes</p>
            </a>
        </li>
        <li>
            <a href="/emprestimo">
                <i class="nc-icon nc-money-coins"></i>
                <p>Empréstimos</p>
            </a>
        </li>
        <li>
            <a href="/emprestimo-simula">
                <i class="nc-icon nc-tv-2"></i>
                <p>Simulador</p>
            </a>
        </li>
        <li>
            <a href="/investidor-index">
                <i class="nc-icon nc-bank"></i>
                <p>Investidor</p>
            </a>
        </li>
        <li>
            <a href="/configuracao">
                <i class="nc-icon nc-settings-gear-65"></i>
                <p>Configurações</p>
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="nc-icon nc-simple-remove"></i>
                <p>Sair</p>
            </a>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function () {
        // $('.sidebar-wrapper>ul>li').removeClass('active');
        // $('.sidebar-wrapper #' + $('#active-menu').text()).addClass('active');
    });
</script>