<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
<div class="logo">
    <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
            <img src="../assets/img/app-logo.png">
        </div>
    </a>
    <a href="#" class="simple-text logo-normal">
        Banco Angelotti
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li id="posicao-geral" class="active">
            <a href="/">
                <i class="nc-icon nc-bank"></i>
                <p>Posição Geral</p>
            </a>
        </li>
        <li id="cliente">
            <a href="/cliente">
                <i class="nc-icon nc-single-02"></i>
                <p>Cliente</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="nc-icon nc-badge"></i>
                <p>Investidor</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="nc-icon nc-money-coins"></i>
                <p>Parâmetros</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="nc-icon nc-simple-remove"></i>
                <p>Sair</p>
            </a>
        </li>
    </ul> 
</div>
<script>
    $(document).ready(function () {        
        // $('.sidebar-wrapper>ul>li').removeClass('active');
        // $('.sidebar-wrapper #' + $('#active-menu').text()).addClass('active');
    });
  </script>