<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
<div class="logo">
    <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
            <img src="../assets/img/app-logo.png">
        </div>
    </a>
    <a href="#" class="simple-text logo-normal">
        Angel Bank
        <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active ">
            <a href="/">
                <i class="nc-icon nc-bank"></i>
                <p>Posição Geral</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="nc-icon nc-single-02"></i>
                <p>Cliente</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="nc-icon nc-badge"></i>
                <p>Investidor</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="nc-icon nc-money-coins"></i>
                <p>Parâmetros</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="nc-icon nc-simple-remove"></i>
                <p>Sair</p>
            </a>
        </li>
    </ul>
</div>